<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pingan.mapper.ApplyMapper" >
  <resultMap id="BaseResultMap" type="com.pingan.model.Apply" >
    <result column="ID" property="id" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="MONEY" property="money" jdbcType="DOUBLE" />
    <result column="BIRTHDATE" property="birthdate" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, money, birthdate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from apply
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from apply
    order by id asc
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from apply
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pingan.model.Apply">
    insert into apply (id, name, money, 
      birthdate)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{money,jdbcType=DOUBLE}, 
      #{birthdate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.pingan.model.Apply" >
    insert into apply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="money != null" >
        MONEY,
      </if>
      <if test="birthdate != null" >
        BIRTHDATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="money != null" >
        #{money,jdbcType=DOUBLE},
      </if>
      <if test="birthdate != null" >
        #{birthdate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pingan.model.Apply">
    update apply
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=DOUBLE},
      </if>
      <if test="birthdate != null">
        birthdate = #{birthdate,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pingan.model.Apply">
    update apply
    set name = #{name,jdbcType=VARCHAR},
      money = #{money,jdbcType=DOUBLE},
      birthdate = #{birthdate,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectItemCount" resultType="java.lang.Integer">
    select
    count(*)
    from apply
  </select>
</mapper>