<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--只扫描controller，其他类型在主配置文件中扫描-->
	<context:component-scan base-package="com.pingan.controller">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

    <mvc:annotation-driven>
        <mvc:message-converters>
            <ref bean="jsonConverter"/>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <mvc:interceptors>
        <ref bean="ProfileInterceptor"/>
    </mvc:interceptors>

    <!--注册方法验证的后处理器-->
    <bean class="org.springframework.validation.beanvalidation.MethodValidationPostProcessor"/>

    <!--统一异常处理-->
    <bean id="handlerExceptionResolver" class="com.pingan.exception.AnnotationHandlerMethodExceptionResolver">
        <property name="defaultErrorView" value="error"/> <!--错误页面-->
        <property name="messageConverters">
            <list>
                <!--<bean class="org.springframework.http.converter.ByteArrayHttpMessageConverter" />-->
                <!-- JSON转换器无需设置mediaType,由外部客户端调用时，手动设置相关mediaType -->
                <ref bean="jsonConverter"/>
            </list>
        </property>
    </bean>

    <!-- FreeMarker配置 -->
    <!--<bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">-->
        <!--<property name="templateLoaderPath" value="WEB-INF/ftl/" />-->
        <!--<property name="defaultEncoding" value="utf-8" />-->
    <!--</bean>-->
    <!--<bean id="freeMarkerViewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">-->
        <!--<property name="suffix" value=".ftl" />-->
        <!--<property name="order" value="1"/>-->
        <!--<property name="contentType" value="text/html; charset=UTF-8" />-->
        <!--&lt;!&ndash; 把HttpServletRequest的属性存放到request变量里供页面使用 &ndash;&gt;-->
        <!--<property name="requestContextAttribute" value="request"/>-->
    <!--</bean>-->

    <!-- jsp视图解析器 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/page/"/>
		<property name="suffix" value=".jsp"/>
	</bean>

    <!-- JSON格式转换 -->
    <bean id="jsonConverter" class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>text/html;charset=UTF-8</value> <!--ie必须加上这段-->
                <value>application/json;charset=UTF-8</value>
            </list>
        </property>
        <!--<property name="features">-->
        <!--<array value-type="com.alibaba.fastjson.serializer.SerializerFeature">-->
        <!--<value>DisableCircularReferenceDetect</value>-->
        <!--</array>-->
        <!--</property>-->
    </bean>
    <!--TODO:解决FastJson循环引用的问题-->
    <!--<bean id="DisableCircularReferenceDetect" class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean">-->
    <!--<property name="staticField" value="com.alibaba.fastjson.serializer.SerializerFeature.DisableCircularReferenceDetect"></property>-->
    <!--</bean>-->

    <!-- 文件上传 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver" >
        <property name="defaultEncoding" value="utf-8"/>
    </bean>
</beans>
